html, body {
    border: 2px solid red;
    margin: 0;
}

#logoSpace {
    border: 2px solid green;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#greySpace {
    border: 2px solid blue;
}