html {
    border: 3px solid red;
    height: 100%;
    width:auto;
}

body {
    border: 2px solid red;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#logoSpace {
    border: 2px solid green;
    text-align: center;
    margin: 0;
    padding-right: 50%;
}

#greySpace {
   border: 2px solid blue;
   padding-right: 40%;
   margin: 0;
}